{"recorded_with": "betamax/0.8.0", "http_interactions": [{"recorded_at": "2016-10-28T17:11:22", "request": {"uri": "https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues", "headers": {"Authorization": "token <TOKEN>"}, "body": {"string": "", "encoding": "utf-8"}, "method": "GET"}, "response": {"headers": {"X-GitHub-Media-Type": "github.v3; format=json", "X-Accepted-OAuth-Scopes": "repo", "X-RateLimit-Reset": "1477678109", "X-RateLimit-Remaining": "4997", "Status": "200 OK", "X-RateLimit-Limit": "5000", "X-OAuth-Scopes": "public_repo", "Content-Type": "application/json; charset=utf-8", "ETag": "\"74b07450d5bc801ba310217dbfd050a1\""}, "body": {"string": "[{\"url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/13\",\"repository_url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP\",\"labels_url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/13/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/13/comments\",\"events_url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/13/events\",\"html_url\":\"https://github.com/bobtestd/MIPYTBotTMP/issues/13\",\"id\":184241222,\"number\":13,\"title\":\"What is this doing?\",\"user\":{\"login\":\"hroncok\",\"id\":2401856,\"avatar_url\":\"https://avatars.githubusercontent.com/u/2401856?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/hroncok\",\"html_url\":\"https://github.com/hroncok\",\"followers_url\":\"https://api.github.com/users/hroncok/followers\",\"following_url\":\"https://api.github.com/users/hroncok/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/hroncok/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/hroncok/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/hroncok/subscriptions\",\"organizations_url\":\"https://api.github.com/users/hroncok/orgs\",\"repos_url\":\"https://api.github.com/users/hroncok/repos\",\"events_url\":\"https://api.github.com/users/hroncok/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/hroncok/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[{\"id\":463256601,\"url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/labels/bug\",\"name\":\"bug\",\"color\":\"ee0701\",\"default\":true}],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":1,\"created_at\":\"2016-10-20T14:12:59Z\",\"updated_at\":\"2016-10-20T14:13:11Z\",\"closed_at\":null,\"body\":\"Is it labeling my bugs?\"}]", "encoding": "utf-8"}, "url": "https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues", "status": {"code": 200, "message": "OK"}}}]}